:root {
    --background: #1e082b;
    --secondary-color: #8fd8c6;
    --headers: #e22f89;
    --buttons: #a7d7c5;
    --font-family: 'VT323', monospace;
    --text: 'Saira', sans-serif;
}

body {
    font-family: var(--text); 
    max-width: auto;
    min-width: 300px;
    background-color: var(--background);
    text-align: center;
    height: 450px;
    padding-left: auto;

    background-image: url('./game-icon.png');
    background-repeat: no-repeat;
    color: var(--background);
    background-size: 65%;
    background-position: 50%;
}

@media (max-width: 1500px) {
    body {
    background-size: 80%;
    }

    p {
    font-size: 13px;
    }
} 

@media (max-width: 550px) {
    body {
    background-image: none;
    }

    p {
    font-size: 15px;
    }
} 

.header-background {
    margin-top:200px;
}


h1 {
    color: var(--headers);
    font-family: var(--font-family);
    font-size: 65px;
}

p {
    font-weight: bold;
    color:white;
    font-size: 23px;
}

a {
    background-color: var(--buttons);
    border-radius: 14px;
   border: none;
    color: white ;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    background-color: var(--headers);
    border-color: var(--buttons);
    color: white;
}